.DeliveryInfoSection {
   background-color: var(--background-gray);
   display: flex;
   // flex-direction: column;
   
}
.DeliveryInfoContainer {
   margin-inline: 20px;
   padding-block: 40px;
   display: flex;
   flex-direction: column;
   @media screen and (min-width: 1440px) {
      flex-direction: row;
      margin-inline: 222px;
      padding-block: 60px;
      gap: 90px;
   }
}
.DeliveryFirstInfo {
}
.DeliverySecondInfo {
   padding-top: 20px;
   @media screen and (min-width: 1440px) {
      padding-top: 0px;
   }
}
.DeliveryInfoTitle {
   color: var(--dark-blue);
   font-family: Play;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 26px; /* 144.444% */
   @media screen and (min-width: 1440px) {
      font-size: 20px;
      line-height: 30px; /* 150% */
   }
}
.DeliveryInfoP {
   color: var(--gray);
   font-family: Play;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
}
.DeliverySpan{
   display: flex;
   flex-direction: row;
   gap: 12px;
   padding-top: 4px;
   padding-bottom: 12px;
   @media screen and (min-width: 1440px) {
      padding-bottom: 20px;
   }
}
.DeliveryInfoP:nth-child(2) {
   padding-top: 20px;
}
.DeliveryInfoP:nth-child(3) {
   padding-top: 12px;
   @media screen and (min-width: 1440px) {
      padding-top: 20px;
   }
}
