.collaboratorsContainer{

}
.collaboratorsContainerUl{
display: flex;
flex-wrap: wrap;
gap: 20px;
}
.collaboratorsContainerUlLi{
   display: flex;
   align-items: center;
   justify-content: center;
}
