.basket {
   color: #ad2808;
   &:hover,
   &:focus {
      color: #01a0c6;
      > .basketSum {
         color: #01a0c6;
      }
   }
}
.basketBox {
   display: flex;
   justify-content: flex-end;
   width: 100%;
}
.basketValue {
   // font-family: Inter;
   font-size: 20px;
   // змінити після підрублення фонтів( зверху)
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-right: 5px;
}
.basketIcon {
   fill: currentColor;
}
.basketSum {
   display: none;
   @media screen and (min-width: 1440px) {
      display: block;
      color: #878787;
      text-align: right;
      // font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
   }
}
