.footer {
   margin-top: 40px;
   padding-top: 40px;
   padding-bottom: 40px;
   background-color: var(--black);
}
.footerContainer {
   margin-inline: 20px;
   display: flex;
   flex-direction: column;
   @media screen and (min-width: 1440px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      position: relative;
      margin-inline: 120px;
   }
}
.footerLogoIcon {
   display: flex;
   @media screen and (min-width: 1440px) {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 0;
   }
}
.katalog {
   margin-top: 40px;
   @media screen and (min-width: 1440px) {
      margin: 0;
   }
}
.footerSocial {
   margin-top: 40px;
   max-width: min-content;
   text-wrap: nowrap;
   @media screen and (min-width: 1440px) {
      margin: 0;
   }
}
.footerUl {
   color: var(--white-color);
}
.footerUlLiFirst {
   display: flex;
   justify-content: space-between;
}
.footerUlLiFirst:not(:last-child) {
   margin-bottom: 8px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   @media screen and (min-width: 1440px) {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
}
.footerUlLiFirst:last-child {
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 153.846% */
   @media screen and (min-width: 1440px) {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 157.143% */
   }
}
.footerUlLiSpanName {
   margin-right: 20px;
   min-width: 51px;
}
.footerUlLiSpanNumber {
   margin-right: 11px;
}
.footerSocialTime {
   color: var(--white-color);
   display: inline-block;
   margin-right: 11px;
}
.footerInfoContainer {
   display: flex;
   align-items: center;
   margin-top: 20px;
   justify-content: flex-end;
   gap: 11px;
   // flex-direction: row;
}
.footerInfoP {
   color: var(--white-color);
}
.footerInfoSpan {
}
.footerUlSecond {
   color: var(--white-color);
   display: grid;
   grid-template-columns: 1fr 1fr;
   text-align: left;
   gap: 12px;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px; /* 138.462% */
}
.footerUlSecondLi:nth-child(even) {
   opacity: 0.5;
}
.footerUlSecondLi {
   flex-wrap: nowrap;
}
.footerLinks {
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   margin-inline: 20px;
   @media screen and (min-width: 1440px) {
      margin-inline: 120px;
   }
}
.footerLinksFirst {
   color: var(--white-color);
   @media screen and (min-width: 1440px) {
   }
}
.footerLinksSecond {
   display: flex;
   gap: 10px;
   @media screen and (min-width: 1440px) {
   }
}
