.footer {
   margin-top: 40px;
   background-color: var(--black);
}
.footerContainer {
}
.katalog{

}
.footerLogo{

}
.footerSocial{
   
}
.footerUl{
   color: var(--white-color);
}
.footerInfoContainer{
   display:flex;
   flex-direction: row;

}
.footerInfoP{
   color: var(--white-color);
}
.footerInfoSpan{

}
.footerUlSecond{
   color: var(--white-color);
}
.footerLinks{

}
.footerLinksFirst{
   color: var(--white-color);
}