.dropHeroSection {
   background: linear-gradient(180deg, #000 38.84%, rgba(0, 0, 0, 0.00) 106.61%), url(../../assets/DropHeroImage.png);
   // background-image: url(../../assets/DropHeroImage.png);
   background-repeat: no-repeat, no-repeat;
   background-position: top, bottom;
   // background-size: cover, auto;
   height: 341px;
   // background-blend-mode: saturation;
   // background: linear-gradient(180deg, #000 38.84%, rgba(0, 0, 0, 0.00) 106.61%);
}
.dropHeroContainer {
   display: flex;
   justify-content: center;
}
.dropHeroContainerTitle {
   color: var(--white-color);
   font-family: Russo One;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 125% */
   margin-top: 121px;
}
