.defaultButton {
   display: flex;
   padding: 10px 24px;
   justify-content: center;
   align-items: center;
   gap: 20px;
   background-color: var(--blue);
   border-radius: 8px;
   border: 1px solid var(--blue);
   width: 180px;
   height: 44px;
   @media screen and (min-width: 1440px) {
      padding: 17px 32px;
      gap: 40px;
      width: 208.4px;
      height: 58px;
   }
}
.defaultButtonLink {
   color: var(--white-color);
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 24px; /* 150% */
   text-transform: uppercase;
   @media screen and (min-width: 1440px) {
      font-size: 17px;
   }
}