@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
:root {
   --white-color: #ffffff;
   --half-gray: #c2c2c2;
   --gray: #666666;
   --black: #000000;
   --blue: #01a0c6;
   --dark-blue: #283761;
   --dark-orange: #ad2808;
   --some-red: #D7143A;
}
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: inherit;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
html,
body {
   height: 100%;
   /* line-height: 1; */
   font-family: Play;
}
button,
input {
   font-weight: inherit;
   font-size: inherit;
   color: inherit;
   font-family: inherit;
}
button {
   cursor: pointer;
   background-color: inherit;
}
