.RegistrationFormSection {
   padding-top: 40px;
   display: flex;
   // justify-content: center;
   // align-items: center;
}
.RegistrationFormContainer {
margin-inline: 20px;
}
.RegistrationFormFirstItem {
}
.RegistrationFormSecondItem {
}
.RegistrationContactInfo{

}
.RegistrationFormTitle {
   color: var(--gray);
   font-family: Play;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   text-transform: uppercase;
}
// .RegistrationFormTitle:nth-child(){
//    background-color: red;
// }
.RegistrationFormAccount{

}
.RegistrationFormActivity{

}