.RegistrationFormSection {
   padding-top: 40px;
   display: flex;
   @media screen and (min-width: 1440px){

   }
}
.RegistrationFormContainer {
   
}
.formFrom{
   background-color: brown;
   margin-inline: 20px;
   display: flex;
   flex-direction: column;
   @media screen and (min-width: 1440px){
      margin-inline: 120px;
      flex-direction: row;
      width: 100%;
      gap: 38px;
   }
}
.RegistrationFormFirstItem {
   background-color: red;

}
.RegistrationFormSecondItem {
   background-color: blue;
}
.RegistrationContactInfo {
}
.RegistrationFormTitle {
   margin-top: 16px;
   color: var(--gray);
   font-family: Play;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   text-transform: uppercase;
}
.RegistrationFormAccount {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.RegistrationFormActivity {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.RegistrationFirstItemForm {
   margin-top: 16px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.formInput {
   padding: 10px 20px;
   border: 1px solid var(--half-gray);
   margin-top: 8px;
   width: 100%;
   @media screen and (min-width: 1440px) {
      margin-top: 16px;
   }
}
.formSpan {
   color: var(--some-red);
}
.formSpanInfo {
   margin-top: 16px;
   color: var(--gray);
   font-family: Play;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px; /* 138.462% */
   @media screen and (min-width: 1440px) {
      text-align: right;
      font-size: 15px;
      line-height: 18px; /* 120% */
   }
}
.formText {
   margin-top: 20px;
   color: var(--gray);
   font-family: Play;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px; /* 138.462% */
}
.RegistrationFormConfirmContainer {
   display: flex;
   flex-direction: row-reverse;
   gap: 12px;
}
.confirmContainer {
   margin-top: 17px;
   display: flex;
   flex-direction: row;
   @media screen and (min-width: 1440px) {
      margin-top: 20px;
   }
}
.confirmContainer {
   margin-top: 17px;
   display: flex;
   flex-direction: row;
   @media screen and (min-width: 1440px) {
      margin-top: 20px;
   }
}
.confirmContainerLabel {
   display: flex;
   gap: 12px;
}
.confirmContainerLabel input {
   width: 0;
   height: 0;
   opacity: 0;
   position: absolute;
}
.checkMark {
   height: 20px;
   width: 20px;
   border: 1px solid var(--half-gray);
   position: relative;
   margin-top: 5px;
}
.confirmContainerLabel input:checked ~ .checkMark::before {
   content: "";
   position: absolute;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   top: 50%;
   left: 50%;
   background-color: var(--blue);
   transform: translate(-50%, -50%);
}
.questionFormBtn {
   margin-top: 24px;
   width: 257px;
}
.downQuestion {
   margin-top: 12px;
   color: var(--gray);
   text-align: center;
   font-family: Play;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   text-decoration-line: underline;
}
